transformers
langchain_huggingface
langchain
pydantic
langchain_community
beautifulsoup4
wikipedia
tiktoken
chromadb
langchain-chroma
numexpr
langchain_ollama
streamlit
langserve
uvicorn
fastapi
sse_starlette
langchain_openai
pydantic==2.9.0
arxiv
langchain-groq
Authlib
certifi
pip-system-certs
torch
cuda-python